{% extends 'base.html' %}
{% block head_title %}Discs | {{ block.super }}{% endblock head_title%}
{% block content %}
<h1>Discs:</h1>

<h3>Distance Drivers</h3>
<ul>
    <li>Champion Destroyer</li>
    <li>G* Valkyrie</li>
</ul>

<h3>Fairway Drivers</h3>
<ul>
    <li>Champion Firebird</li>
    <li>Champion Teebird</li>
    <li>G* Teebird3</li>
    <li>DX Leopard</li>
</ul>

<h3>Midranges</h3>
<ul>
    <li>DX Shark</li>
    <li>Champion Mako3</li>
    <li>G* Roc3</li>
</ul>

<h3>Putters</h3>
<ul>
    <li>DX Aviar</li>
</ul>

{% endblock %}